@charset "ISO-8859-1";
.signup-form{
    height:180px;
    width:280px;
    margin-top:305px;
    margin-left:1080px;
}
.Signup-head{
    padding:8px;
}
.signup-content .radio{

    margin:10px 10px;
}
.signup-content2 .input{

    width:40px;
    padding:10px;
    margin:10px;
    color:rgb(87, 82, 82);
}
.signup-content2  .person{

    padding:10px;
    margin:10px;
    color:#fff;
}
.signup-content2 .travel1{
    margin:20px 20px;
}
.signup-content2 .travel{
    margin:20px 20px;
}
.signup-content2 .travel2{
    padding:5px;
}
.signup-content2 .sumbit-btn{

    border:none;
    outline:none;
    width:200px;
    padding:10px;
    margin-left:200px;
}