@charset "ISO-8859-1";
*
{
    margin: 0;
    padding: 0;
    height:85px;
   font-size: 30px;
}
body
{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to left, #a517ba,#5f1782);
    padding: 0 !important;
}
.navbar-nav li
{
    padding: 0 35px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
}
#banner

{

background-image: linear-gradient(to right, #a517ba, #5f1782); color: #fff; padding-top: 10%;

}

.promo-title

{

font-size: 40px;

font-weight: 600; margin-top: 200px;

}

.play-btn

{

width: 45px;

margin: 20px;
}
.bottom-img{
	width:100%;
}