@charset "ISO-8859-1";

    
        *{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: 'Poppins', sans-serif;
        }
        html,body{
            display: grid;
            height: 100%;
            width: 100%;
            place-items: center;
            background-color:rgb(70, 68, 68);
        }
        ::selection{
                background:rgb(70, 68, 68);
                 color: rgb(226, 14, 14);
               }
             .wrapper{
                     overflow: hidden;
                      max-width: 395px;
                      background: #fff;
                      padding: 30px;
                     border-radius: 5px;
                     box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
                    }
                    .travel{

                     background-image: url("https://image.shutterstock.com/image-photo/registration-online-membership-network-internet-260nw-761462098.jpg");
                     background-size:900px;
                    }
                 

  